<% provide :title do %><%= t('pages.titles.intellectual_property') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= t("pages.intellectual_property") %></h1>
    <h2>AVISO LEGAL SOBRE LAS CONDICIONES RELATIVAS A LA PROPIEDAD INTELECTUAL</h2>
    <strong>Condiciones para el tratamiento de los contenidos proporcionados por los usuarios</strong>
    <p>Las presentes condiciones regulan los términos aplicables al contenido remitido por los usuarios de esta plataforma a través del formulario correspondiente (en adelante, el contenido). Estas condiciones se aplican tanto al contenido inicialmente remitido al Portal de Participación Ciudadana como a cualquier contenido que se envíe con posterioridad o se manifieste al Ayuntamiento de Las Palmas de Gran Canaria, debiendo significarse lo siguiente:</p>
    <ul>
      <li>A. No Confidencialidad: Todo el contenido remitido por el usuario al Ayuntamiento de Las Palmas de Gran Canaria deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Ayuntamiento de Las Palmas de Gran Canaria tratará el citado contenido como información no confidencial.</li>
      <li>B. Procedimiento: En el caso de que el Ayuntamiento de Las Palmas de Gran Canaria esté interesado en el contenido remitido por el usuario, se pondrá en contacto con él para solicitarle información adicional. Dicha información tendrá asimismo carácter de no confidencial, sin perjuicio de que en el caso de que las partes consideren la necesidad de intercambiarse información de carácter confidencial se firme el correspondiente Acuerdo de Confidencialidad.<br>

        El Ayuntamiento de Las Palmas de Gran Canaria se reserva el derecho de no contactar con los usuarios que le hubieran remitido el contenido. Todo ello sin perjuicio de lo establecido en el apartado relativo a "Derechos de Propiedad Intelectual e industrial".</br>

        En el supuesto que el Ayuntamiento de Las Palmas de Gran Canaria, a su entera discreción, decidiera contactar con determinados usuarios, éstos conocen y aceptan que por ello el Ayuntamiento de Las Palmas de Gran Canaria no adquiere compromiso alguno.</li>
      <li>C. Publicidad o difusión de los contenidos  presentados: Los participantes en el Portal de Participación Ciudadana del Ayuntamiento de Las Palmas de Gran Canaria declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en la web participa.laspalmasgc.es, así como a través de otros medios que la organización considere oportunos para dar a conocer esta iniciativa.</li>
      <li>D. No devolución material: El  Ayuntamiento de Las Palmas de Gran Canaria carece de obligación alguna de devolver el Contenido remitido por los usuarios.</li>
      <li>E. Procedimiento de aviso y retirada: El Ayuntamiento de Las Palmas de Gran Canaria procesará las peticiones de eliminación o retirada de contenidos que incumplan las condiciones de uso que hayan añadido los participantes. Asimismo, cualquier persona, con motivos razonados si existe incumplimiento de las presentes condiciones de uso, podrá solicitar la retirada de contenidos al Ayuntamiento de Las Palmas de Gran Canaria. El Ayuntamiento de Las Palmas de Gran Canaria se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido.</li>
    </ul>
  </div>
  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
