// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//


$brand-green: #5aab1d;
$brand-pink: #d5278a;
$brand-blue: $brand;
$grey: #f5f4f4;

header{
  background-color: white !important;
  .top-bar{
    background-color: white !important;
    .menu > li{
      a{
        color: $brand-blue;
      }
      .button{
        background: $brand-blue;
        color: white;
      }
      .button:hover {
        background-color: lighten($brand-blue, 35%);
      }

    }
    .top-bar-right{
      width: 100%;
      li.has-submenu {
        position: relative;
        > a:after {
          display: block;
          width: 0;
          height: 0;
          border: inset 6px;
          content: '';
          border-bottom-width: 0;
          border-top-style: solid;
          border-color: #00247e transparent transparent;
          right: 5px;
          left: auto;
          margin-top: -3px;
        }
        &.is-active a {
          color: #00247e!important;
          font-weight: normal;
        }
        .submenu a {
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
  .subnavigation{
    ul li{
      margin-left: 1rem;
      margin-right: 0;
      a {
        line-height: 4.5rem;
      }
    }
  }
}

body:not(.admin) header {
  .top-bar-title{
    display: inline-flex;
    border: 1px solid rgba(0, 36, 126, 0.4);
    border-radius: 50%;
    padding: 20px;
    box-shadow: 2px 2px 7px rgba(0, 36, 126, 0.7);
    margin-top: 10px;
    margin-right: 0;
    background: white;
    position: absolute;
    max-width: 14rem;
    z-index: 1;
    a{
      img{
        width: auto;
        position: relative;
      }
    }
    a:first-child{
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.top-links {
  background: $brand-green;
  .social {
    a span:before {
      vertical-align: sub;
    }
    a:hover {
      text-decoration: none;
    }
    li:after {
      vertical-align: super;
    }
  }
}


.auth-image h1 > a{
  border: 1px solid rgba(0, 36, 126, 0.4);
  border-radius: 50%;
  padding: 10px;
  box-shadow: 2px 2px 7px rgba(0, 36, 126, 0.7);
  background: white;
  width: 8rem;
  height: 8rem;
  margin-top: 2.5rem;
  img {
    height: auto;
    width: 8rem;
  }
}

.polls-show .orbit-slide img {
  image-rendering: inherit;
}

.home-page {
  .row.videos .videoWrapper {
    position: relative;
    padding-bottom: 56%;
    margin-top: 20px;
    iframe {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.orbit {
  h1 {
    background: rgba(10,10,9,0.7);
    background: -moz-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(10,10,9,0)), color-stop(50%, rgba(10,10,9,0.7)), color-stop(51%, rgba(10,10,9,0.7)), color-stop(100%, rgba(10,10,9,0)));
    background: -webkit-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: -o-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: -ms-linear-gradient(left, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    background: linear-gradient(to right, rgba(10,10,9,0) 0%, rgba(10,10,9,0.7) 50%, rgba(10,10,9,0.7) 51%, rgba(10,10,9,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeb3b', endColorstr='#ffeb3b', GradientType=1 );
    color: white;
    font-weight: 300;
    font-style: italic;
    padding: 1rem 3rem;
    line-height: 4rem;
    font-size: 4rem;
  }

  .row {
    width: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    &.banner {
      bottom: 7em;
    }
    &.register {
      text-transform: uppercase;
      bottom: 3em;
    }
    div {
      max-width: 70%;
      margin: auto;
    }
  }

  .orbit-wrapper {
    .orbit-slide img{
      image-rendering: inherit;
    }
  }

  .button {
    background-color: $brand-pink;
    padding: 0.6rem;
  }

  .button:hover, .button:focus {
    background-color: darken($brand-pink, 20);
  }

  & + .row.sub-banner {
    margin: 0;
    background-color: $grey;
    max-width: 100%;
    padding: 3rem;

    .lead {
      max-width: 90%;
      margin: 0 auto 2rem auto;
      text-align: center;
      font-size: 1.2rem;
    }
    .button {
      background-color: $brand-blue;
      color: white;
      padding: 0.6rem;
    }
    .button:hover {
      background-color: darken($brand-blue, 20);
    }
  }
}


.button{
 padding: 0.75em 1em;
}


.poll.with-image img{
  width: 100%;
  height: auto;
}

.expanded.budget {
  background: white;
  * {
    color: #222!important;
  }
  .info {
    background: #f8f9fb;
  }
}

.jumbo-budget {
  background: #f8f9fb;
  border-bottom: 1px solid #f8f9fb;
  h1, h2, a.back, span {
    color: #222!important;
  }
  .button{
    border: 1px solid $brand-blue;
  }
  .progress-bar-nav{
    background-color: #f8f9fb;
  }
}

.footer {
  border-top: none;
  padding-top: 0px;
  min-height: auto;

  footer {
    background-color: $brand-green;
    color: $footer-color;
    padding-top: 3rem;
    padding-bottom: 1rem;

    a {
      color: $footer-color;
    }

    .subfooter {
      border-top: 1px solid $footer-color;
    }
  }
}

body.home-page main {
  #participate {
    background-color: $grey;
    h3 {
      text-transform: uppercase;
    }
    .row:nth-child(2) .column a div {
      position: relative;
      span {
        position: absolute;
        bottom: 1em;
        left: 1.5em;
        background-color: white;
        color: #444;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 2px 3px 5px #444;
      }
    }
  }
}

header .top-bar, .menu.float-right {
  display: block;
}

.home-page .push {
  display: none;
}

.top-bar .menu > li {
  display: table-cell;
  height: 5.25rem;
  vertical-align: middle;
}

@media screen and (min-width: 640px) {
  .help-header > .row > .small-12, .activity > .column > h2, .account > .column > img, .jumbo.light > .row >.column > h2, .margin-top > .column > h1, .margin-top > div > h1 {
    padding-left: 17vw;
  }
  .menu > a.back, .polls-show  a.back, .jumbo-budget a.back, .expanded.budget a.back {
    padding-left: 14vw;
  }
  .padding{
    padding-top: 3rem;
  }

}
@media screen and (max-width: 639px) {
  header{
    .subnavigation{
      background-color: $brand-blue;
      ul.float-right {
        float: initial !important;
        li a{
          line-height: 2.5rem;
        }
      }
    }
    .top-bar {
      height: 4rem;
      .top-bar-right {
        background-color: #eee;
        border: 1px solid #ddd;
        width: auto;
        padding: 0 1rem;
        ul.menu {
          text-align: right;
          li {
            display: inline-block;
            a {
              color: black;
              background: none;
            }
          }
        }
      }
      .menu-icon.dark:after,
      .menu-icon.dark:hover::after {
        background: #000;
        box-shadow: 0 7px 0 #000, 0 14px 0 #000;
      }
    }
  }
  .help-header > .row > .small-12{
    padding-left: 0.625rem;
  }

  .orbit {
    .row {
      &.banner {
        bottom: 3em;
        h1{
          padding: 0.5rem 1rem;
          line-height: 1.75rem;
          font-size: 1.75rem;
        }
      }
      &.register {
        text-transform: uppercase;
        bottom: 0;
        .button{
          font-size: 0.9rem;
          padding: 0.3rem;
        }
      }
      div {
        max-width: 90%;
        margin: auto;
      }
    }
  }
}


.margin-small{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

span.asterisk {
  font-weight: bold;
  font-size: 1.3em;
  vertical-align: bottom;
}
