<% page = SiteCustomization::Page.find_by(slug: 'help-budgets') %>
<div class="row section-content">
  <% if page %>
    <div class="small-12 column">
      <h3 id="budgets" data-magellan-target="budgets">
        <%= page.title %>
      </h3>
      <%= raw page.content %>
    </div>
  <% end %>
</div>
